%contenedor {
    min-height: 300px;
    background-color: dodgerblue;
    display: flex;
}

%capaHija {
    margin: 15px;
    padding: 15px;
    font-size: 1.8rem;
    background-color: fuchsia;
}

.contenedorFlex {
    @extend %contenedor;
    align-items: flex-start;
    > div {
        @extend %capaHija;
    }
}