%capaHija {
  background-color: firebrick;
  margin: 10px;
  padding: 20px;
  font-size: 1.8rem;
}

%contenedor {
  display: flex;
  background-color: dodgerblue;
  min-height: 450px;
  flex-wrap: wrap; //Si no entra en una sola línea, lo pasa a otras.
}

.contenedorFlex {
  @extend %contenedor;
  align-items: flex-end;
  > div {
    @extend %capaHija;
  }
}

.contenedorFlexCentrado {
  @extend %contenedor;
  align-items: center;
  justify-content: center;
  > div {
    @extend %capaHija;
  }
}

.contenedorFlexAlignContent {
  @extend %contenedor;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;

  > div {
    @extend %capaHija;
  }
}

.contenedorFlexBaseline {
  display: flex;
  height: 200px;
  align-items: baseline;
  background-color: DodgerBlue;
}
.contenedorFlexBaseline > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

%contenedor1 {
  display: flex;
  background-color: lightblue;
  min-height: 700px;
}

%capaHija1 {
  background-color: pink;
  margin: 15px;
  padding: 18px;
  font-size: 2rem;
}

.contenedorF {
  @extend %contenedor1;
  justify-content: center;
  align-items: flex-start;
  > div {
    @extend %capaHija1;
  }
}

.contenedorPerfecto {
  @extend %contenedor1;
  justify-content: center;
  align-items: center;
  > div {
    @extend %capaHija1;
  }
}
